apps/sluzbenik/team9/src/main/resources/static/schemas/sema_obavestenje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1" targetNamespace="http://www.projekat.org/obavestenje"
    xmlns:ob="http://www.projekat.org/obavestenje" xmlns:common="http://www.projekat.org/common">
    <xs:import namespace="http://www.projekat.org/common" schemaLocation="common.xsd"/>
    <xs:element name="obavestenje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="informacije_o_obavestenju">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="organ">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="common:TPravno_lice">
                                            <xs:attribute fixed="pred:kreator_obavestenja"
                                                form="unqualified" name="property" type="xs:string"
                                                use="optional"/>
                                            <xs:attribute name="content" type="xs:string"
                                                use="optional"/>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="trazilac">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lice" type="common:TLice"/>
                                    </xs:sequence>
                                    <xs:attribute fixed="pred:trazilac_informacija"
                                        form="unqualified" name="property" type="xs:string"
                                        use="optional"/>
                                    <xs:attribute name="content" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="datum_obavestenja">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:date">
                                            <xs:attribute fixed="pred:datum_donosenja"
                                                name="property" type="xs:string" use="optional"/>
                                            <xs:attribute fixed="xs:date" name="datatype"
                                                type="xs:string" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="zahtev">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="datum_trazenja_informacija" type="xs:date"> </xs:element>
                            <xs:element name="opis_trazene_informacije">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="odgovor_na_zahtev">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="uplata_troskova" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="uplatnica" type="ob:TUplatnica"/>
                                        <xs:element name="troskovi" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="1">
                                                  <xs:element maxOccurs="unbounded" name="trosak">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="stavka">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="CD"/>
                                                  <xs:enumeration value="A4 papir"/>
                                                  <xs:enumeration value="A5 papir"/>
                                                  <xs:enumeration value="USB"/>
                                                  <xs:enumeration value="Skeniranje"/>
                                                  <xs:enumeration value="Dostava"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="kolicina"
                                                  type="xs:positiveInteger"/>
                                                  <xs:element name="jedinicna_cijena">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:decimal">
                                                  <xs:fractionDigits value="2"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="zahtevi">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="informacije_o_uvidu" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="1">
                                                  <xs:element name="datum_uvida" type="xs:date"/>
                                                  <xs:element name="vreme_uvida">
                                                  <xs:complexType>
                                                  <xs:choice>
                                                  <xs:element name="interval_uvida">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="od">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:positiveInteger">
                                                  <xs:minInclusive value="7"/>
                                                  <xs:maxInclusive value="15"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="do">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:positiveInteger">
                                                  <xs:minInclusive value="7"/>
                                                  <xs:maxInclusive value="15"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="tacno_vreme_uvida">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:positiveInteger">
                                                  <xs:maxInclusive value="15"/>
                                                  <xs:minInclusive value="7"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="mesto_uvida">
                                                  <xs:complexType>
                                                  <xs:complexContent>
                                                  <xs:extension base="common:TAdresa">
                                                  <xs:sequence>
                                                  <xs:element name="kancelarija">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:extension>
                                                  </xs:complexContent>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="informacije_o_posedovanju">
                                            <xs:complexType>
                                                <xs:attribute name="poseduje" type="xs:boolean"
                                                  use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="informacije_o_izradi_kopije" minOccurs="0"
                                            > </xs:element>
                                        <xs:element minOccurs="0"
                                            name="informacije_o_dostavljanju_dokumenta">
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dostavljeno">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element fixed="Imenovanom" name="imenovanom" type="xs:string"
                                minOccurs="0"/>
                            <xs:element fixed="Arhivi" name="arhivi" type="xs:string" minOccurs="0"
                            />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="broj_obavestenja" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:anyURI" use="required"/>
            <xs:attribute name="id_zahteva" type="xs:anyURI"/>
            <xs:attribute name="about" type="xs:anyURI" use="optional"/>
            <xs:attribute fixed="http://www.projekat.org/predicate" name="vocab" type="xs:string"
                use="optional"/>
            <xs:attribute fixed="pred:zahtev_na_koji_se_odnosi_obavestenje" form="unqualified"
                name="property" type="xs:string" use="optional"/>
            <xs:attribute name="content" type="xs:anyURI" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TUplatnica">
        <xs:sequence>
            <xs:element name="primalac">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="racun">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{3}-\d{1,13}-\d{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="iznos">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="poziv_na_broj">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{2,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
